<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
  </head>
  <body>
    <h2>Détails du livre : <%= book.title %></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home.</a>
        </li>
        <li>
          <a href="/about">About.</a>
        </li>
        <li>
          <a href="/book">List of books.</a>
        </li>
      </ul>
    </nav>
    <p>Le livre <%= book.title %> est sorti en <%= book.releaseYear %></p>
    <p>Il porte l'id: <%= book.id %></p>
  </body>
</html>
