<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
  </head>
  <body>
    <%- include("../components/header"); -%>

    <form method="get">
        <div>
            <label for="title">Search:</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="releaseYear">Release year:</label>
            <input type="number" id="releaseYear" name="releaseYear">
        </div>
        <button type="submit">Search</button>
    </form>

    <ul>
        <% books.forEach(book => { %>
            <li> 
                <a href="/book/<%= book.id %>">
                    <%= book.id %> -
                    <%= book.title %>
                </a>
            </li>
        <% }); %>
    </ul>
  </body>
</html>
