<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
  </head>
  <body>
    <h1>Liste de livre</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home.</a>
        </li>
        <li>
          <a href="/about">About.</a>
        </li>
        <li>
          <a href="/book">List of books.</a>
        </li>
      </ul>
    </nav>
    <ul>
        <% books.forEach(book => { %>
            <li> 
                <a href="/book/<%= book.id %>">
                    <%= book.id %> -
                    <%= book.title %>
                </a>
            </li>
        <% }); %>
    </ul>
  </body>
</html>
