<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
  </head>
  <body>
    <h1>Welcome in my library</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home.</a>
        </li>
        <li>
          <a href="/about">About.</a>
        </li>
        <li>
          <a href="/book">List of books.</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
