<header>
  <h1>My library</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home.</a>
      </li>
      <li>
        <a href="/about">About.</a>
      </li>
      <li>
        <a href="/book">List of books.</a>
      </li>
      <li>
        <a href="/book/create">Create book</a>
      </li>
      <li>
        <a href="/auth/register">Create an account</a>
      </li>
      <li>
        <a href="/auth/login">Se connected</a>
      </li>
    </ul>
  </nav>
</header>
